rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // User-specific rules
    match /users/{userId} {
      // A user can read, create, or update their own document.
      allow read, update: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId;
    }

    // Stocks collection is read-only for any authenticated user.
    match /stocks/{stockId} {
      allow read: if request.auth != null;
    }

    // Feedback can be created by any authenticated user.
    match /feedback/{feedbackId} {
      allow create: if request.auth != null;
    }
  }
}
